html{
    background-color: #F6E1CE;
    box-sizing: border-box;
    /* background: url('paulas_choice.jpeg') no-repeat center center fixed;
    background-size: cover; */
}

body{
    margin: 0;
    min-height: 90vh;
    width: 100%;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    padding: 2rem 8%;
    font-weight: 700;
}
h1{
    font-weight: 700;
    font-size: 5rem;
}
p{
    font-size: 2rem;
}
.btn{
    padding: 1rem 2rem;
    background-color: #C89595;
    border: none;
    font-weight: 700;
}
.color-text{
    color: #C89595
}
.landing-container{
    height: 80vh;

}
/* SOLGAN CONTAINER */
.solgan-container{
    height: 50vh;
    background-color: #F9F5F6;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.header-text{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 3rem;
    color: #C89595
}

/* SOLGAN CONTAINER END */

/* PICTURE GRID CONTAINER */
.project-grid{
    margin: auto auto;
    width: 100%;
    max-width: 2000px;
    --grid-layout-gap: 20px;
    --grid-column-count: 3;
    --grid-item--min-width: 350px;
    /* Calculated values. */
    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
    grid-gap: var(--grid-layout-gap);
    padding: 5%;
}
.box > img{
    width: 100%;
    height: 100%;
    justify-self: stretch;
    object-fit: cover;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
}
.box{
    position: relative;
}
.middle{
    transition: 0.3s ease-in-out;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #F9F5F6;
}

.box:hover img{
    transform: scale(1.1);
    z-index: 1;
    opacity: 0.3;
}
.box:hover .middle{
    opacity: 1;
}
.point{
    color: #C89595;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2rem;
    opacity: 1;
}

/* .middle:hover{
    opacity: 1;
    /* z-index: 1;
} */
img:hover{
    transform: scale(1.1);
    opacity: 0.3;
}
.hover-text{
    font-family: 'Roboto', sans-serif;
    /*font-weight: 700; */
    /* font-family: Rob; */
    font-size: 1.5rem;
    color: #000;
    /* font-size: 2rem; */
    width: 90%

}
.hover-text:hover{
    z-index: 1;
    opacity: 1;
}
/* PICTURE GRID CONTAINER END */

/* EMAIL CONTAINER */

.email-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #F9F5F6;
}
.email-text{
    width: 50%;
    font-size: 1.2rem;
    margin-bottom: 5%;
}
.email-btn{
    color: #F9F5F6;
}
/* EMAIL CONTAINER END */

/* FOOTER */
footer{
    text-align: center;
    padding: 1rem;
}
footer > p{
 font-size: 0.7rem;
 color: #C89595;
}

/* FOOTER END */
